@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

html, body {
  height: 100%;
}

body {
  background-color: #202632;
  font-size: 62.5%;
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  padding: 0 1rem;
}

.desktop_divider {
  display: none;
}


@media (min-width: 600px) {
  .mobile_divider {
    display: none;
  }

  .desktop_divider {
    display: block;
  }
}

